<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="favicon.png" />  
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> 
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta
      name="description"
      content="Web site created using create-react-app"
    />
    <title>Screen-Page</title>
    <style>
        #body {
          background-image: url("backgroundscreen.jpeg"); /* The image used */
          background-color: #006699; /* Used if the image is unavailable */
          height: 500px; /* You must set a specified height */
          background-position: center; /* Center the image */
          background-repeat: no-repeat; /* Do not repeat the image */
          background-size: cover; /* Resize the background image to cover the entire container */
        }
      </style>
  </head>
  
  <script>
    </script>
  <body id="body">
    <div class="container col-xd-12 justify-center"  style="background-color: #ffffff">
      <div class="container col-xd-12">         
        <iframe allow="camera; microphone" style="margin-top:-5%; width: 100%; height: 700px;" src= <%= url %>>
        </iframe>
      </div>
    </div>
  </body>
</html>
